@import "tailwindcss";


@theme {
    --color-primary: #2893B9;
    --color-secondary: #D0911A;
    --color-accent: #434142;
    --color-terciary: #6C9E3D;
    --font-mosk: var(--font-mosk), sans-serif;
    --font-montserrat: var(--font-montserrat), sans-serif;
  }

